{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Key Info</title>
    <link rel="stylesheet" href="{% static 'Key/info/not_redeemed_styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Key Info</h1>
        <ul class="key-info-list">
            <li><strong>Key:</strong> {{ key }}</li>
            <li><strong>Status:</strong> {{ status }}</li>
            <li><strong>Amount:</strong> {{ amount }}</li>
            <li><strong>Months:</strong> {{ months }}</li>
            <li><strong>Created At:</strong> {{ created_at }}</li>
        </ul>
    </div>
    {% if discord_link or autobuy_link %}
    <div class="links">
        {% if discord_link %}
            <a href="{{ discord_link }}" class="footer-button discord" target="_blank">Join Discord</a>
        {% endif %}
        {% if autobuy_link %}
            <a href="{{ autobuy_link }}" class="footer-button autobuy" target="_blank">Autobuy</a>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>