{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Key Info</title>
    <link rel="stylesheet" href="{% static 'Key/info/not_redeemed_styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Key Info</h1>
        <ul class="key-info-list">
            <li><strong>Key:</strong> {{ key }}</li>
            <li><strong>Status:</strong> {{ status }}</li>
            <li><strong>Amount:</strong> {{ amount }}</li>
            <li><strong>Months:</strong> {{ months }}</li>
            <li><strong>Created At:</strong> {{ created_at }}</li>
        </ul>
    </div>
    <div class="links">
        <a href="https://discord.gg/4X2Y3v8" class="footer-button discord" target="_blank">Join Discord</a>
        <a href="https://quickboostsxd.mysellauth.com/" class="footer-button autobuy" target="_blank">Autobuy</a>
    </div>
</body>
</html>