{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Redeem Panel</title>
    <link rel="stylesheet" href="{% static 'Key/redeem/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Redeem Panel</h1>
        <div class="inputs" id="inputs">
            <p class="hide" id="redeemMessage"></p>
            <input type="text" id="redeemCode" placeholder="Enter code here">
            <input type="text" id="serverInvite" placeholder="Enter server invite here">
            <button id="redeemButton" onclick="Redeemclick()">Redeem</button>
        </div>
        <div class="complete hide" id="complete">
            <p class="hide" id="completeMessage"></p>
            <button id="closeButton" onclick="Closeclick()">Close</button>
        </div>
    </div>
    {% if discord_link or autobuy_link %}
    <div class="links">
        {% if discord_link %}
            <a href="{{ discord_link }}" class="footer-button discord" target="_blank">Join Discord</a>
        {% endif %}
        {% if autobuy_link %}
            <a href="{{ autobuy_link }}" class="footer-button autobuy" target="_blank">Autobuy</a>
        {% endif %}
    </div>
    {% endif %}
    <script src="{% static 'Key/redeem/script.js' %}"></script>
</body>
</html>