{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Order Info</title>
    <link rel="stylesheet" href="{% static 'order/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Order Info</h1>
        <p style="color: red;">No Order found. Please check your Order ID and try again.</p>
    </div>
    <div class="links">
        <a href="https://discord.gg/4X2Y3v8" class="footer-button discord" target="_blank">Join Discord</a>
        <a href="https://quickboostsxd.mysellauth.com/" class="footer-button autobuy" target="_blank">Autobuy</a>
    </div>
</body>
</html>