{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Order Info</title>
    <link rel="stylesheet" href="{% static 'order/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Order Info</h1>
        <p style="color: red;">No Order found. Please check your Order ID and try again.</p>
    </div>
    {% if discord_link or autobuy_link %}
    <div class="links">
        {% if discord_link %}
            <a href="{{ discord_link }}" class="footer-button discord" target="_blank">Join Discord</a>
        {% endif %}
        {% if autobuy_link %}
            <a href="{{ autobuy_link }}" class="footer-button autobuy" target="_blank">Autobuy</a>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>