{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Order Info</title>
    <link rel="stylesheet" href="{% static 'order/styles.css' %}">
</head>
<body>
    <div class="container">
        <span class="status {{ status_class }}"><strong>Order Status:</strong><br> {{ status }}</span>
        <p class="status-message {{ status_message_class }}">{{ message }}</p>
        <ul class="key-info-list">
            <li onclick="copyToClipboard('{{ order_id }}')"><strong>Order Id:</strong> {{ order_id }}</li>
            <li><strong>Service:</strong> {{ service }}</li>
            <li><strong>Requested Boosts:</strong> {{ amount }}</li>
            <li><strong>Completed Boosts:</strong> {{ completed }}</li>
            <li><strong>Months:</strong> {{ months }}</li>
            <li onclick="copyToClipboard('{{ server_id }}')"><strong>Server Id:</strong> {{ server_id }}</li>
            <li><strong>Ordered At:</strong> {{ ordered_at }}</li>
            <li><strong>Finished At:</strong> {{ finished_at }}</li>
        </ul>
        <a href={{ server_invite }} class="footer-button invite" target="_blank">Server invite</a>
    </div>
    {% if discord_link or autobuy_link %}
    <div class="links">
        {% if discord_link %}
            <a href="{{ discord_link }}" class="footer-button discord" target="_blank">Join Discord</a>
        {% endif %}
        {% if autobuy_link %}
            <a href="{{ autobuy_link }}" class="footer-button autobuy" target="_blank">Autobuy</a>
        {% endif %}
    </div>
    {% endif %}
    <script src="{% static 'order/script.js' %}" defer></script>
</body>
</html>